.UserPage{
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
}
.UserPage .profile-tab{
    display: flex;
    flex-direction: column;
}
.UserPage .profile-photo{
    width:50%;
}
.UserPage .user-info{
    display: flex;
    flex-direction: column;
}
.UserPage span{
    font-size: 2rem;
}
.UserPage button{
    font-size: 2rem;
}
.UserPage #edit{
    display: none;
}
.UserPage .edit-tab{
    flex-direction: column;
}
.UserPage .field-name{
    font-size:2rem;
}

.UserPage .field-input{
    font-size:1.6rem;
}
