.UserPage{
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
}
.UserPage .profile-tab{
    display: flex;
    flex-direction: column;
}
.UserPage .profile-photo{
    width:50%;
}
.UserPage .user-info{
    display: flex;
    flex-direction: column;
}
.UserPage span{
    font-size: 2rem;
}
.UserPage button{
    font-size: 2rem;
}
.UserPage #edit{
    margin-top:20%;
    display: none;
}
.UserPage #edit *{
    margin-left:10%;
    margin-bottom:10px;
    width: 80%;
}
.UserPage #edit input{
    
    border-radius: 10px;
    border:1px rgb(233, 223, 223) solid;
}

.UserPage #edit button{
    
    color: white;
    background-color:  rgb(87, 187, 157);
    border-radius: 10px;
    margin-top: 10px;
    border:none;
    height: 30px;
}
.UserPage .edit-tab{
    color:rgb(77, 75, 75);
    flex-direction: column;
        padding:20px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}
.UserPage .field-name{
    font-size:2rem;
}

.UserPage .field-input{
    font-size:1.6rem;
}

.heading{
    font-size: 30;
    font-weight:700;
    margin-right: 10px;
}

#profile{
    font-size: 25;   
    margin-left:40%;
    margin-top:10%;
}