.Homepage{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:rgb(77, 75, 75);
}

.balance {
  display: flex;
  flex-direction: column;
  text-align: center;
  border:1px solid rgb(180, 166, 166);
  border-radius: 50%;
  width:280px;
  height:150px;
}

.caloric-details{
  font-size: 1.6rem;
}

.headers{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
.caloric-balance{
  margin-top: 10%;
  font-size: 2rem;
}
.exercises{
  margin-top: 2%;
  width: 50%;
  background-color:rgb(182, 182, 182);
}
.exercise-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 4rem;
  background-color:  rgb(87, 187, 157);;
  color: white;
  font-size: 2rem;
}

.exercise-list{
  width: 100%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  
}
.exercise-table-header{
  justify-content: center;
  width: 100%;
  display: flex;
  width: 100%;
 }
.exercise-row{
  justify-content: center;
 display: flex;
 width: 100%;
 text-align: center;

 cursor: pointer;
}
.exercise-row:hover{
  background-color: #cecece;
}
.exercise-row td{
  pointer-events: none;
}

.header-title{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img{
  margin-left: 5px;
  margin-right:10px;
  display: inline;
  float: left;
  width:65px;
  height:65px;
}

.exercise-description{
  font-size: 1.6rem;
  min-height: 8rem;
}

.foods{
  margin-top: 3%;
  width: 50%;
  background-color:rgb(182, 182, 182);
}
.foods-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 4rem;
  background-color:  rgb(87, 187, 157);;
  color: white;
  font-size: 2rem;
}
.foods-list{
  width: 100%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.food-header{
  width: 100%;
 }

.food-row{
 width: 100%;
 cursor: pointer;
 text-align: center;
}
.food-row:hover{
  background-color: #cecece;
}
.food-row td{
  pointer-events: none;
}

.foods-description{
  font-size: 1.6rem;
  min-height: 8rem;
}

.search-bar{
  width: 100%;
  border:none;
  font-size: 1.6rem;
  
}

p{
  margin-left: 10px;
}

.food-buttons{
  float:right;
}

.search-button{
  height: 100%;
  border: none;
  background-color: white;
  cursor: pointer;
}

.search-container{
  width: 100%;
  display: flex;
  height: 4rem;
  background-color: white;
  
}
.search-field{
  height: 5rem;
  background-color: (182, 182, 182);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggestion-container{
  width: 100%;
}
.suggestions{
  display: none;
  position: absolute;
  flex-direction: column;
    background-color: #f1f1f1;
    max-height: 30ch;
    overflow: scroll;
}

.suggestion {
  color:  rgb(87, 187, 157);;
  padding: 1rem 1.2rem;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #cecece;

}

.food-details{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

td,th{
  width: 10ch;
  border:none
}

.exercise-row td,th{
  width: 33%;
}